name: Performance

on:
  push:
    branches:
      - performance-testing

  workflow_dispatch:
    inputs:
      AddNewSession:
        description: "Add a new session date (not needed if there are already enough patients)"
        required: true
        type: string
        default: 'False'
      runConsent:
        description: "Run consent journey"
        required: true
        type: boolean
        default: true
      runNurse:
        description: "Run the nurse journey"
        required: true
        type: boolean
        default: true
      duration:
        description: "Optional (default 3600) Duration of nurse journey test, in seconds. This will include ramp-up."
        required: false
        type: string
        default: '3600'
      threads:
        description: "Optional (default 70) Threads to run. Equivalent to the number of nurses using the system."
        required: false
        type: string
        default: '70'
      ramp_up:
        description: "Optional (default 900) Ramp-up time in seconds. Threads will be gradually started up over this time."
        required: false
        type: string
        default: '900'
      user:
        description: "Optional (default Nurse perftest) user."
        required: true
        type: string
        default: 'nurse.perftest@example.com'
      BaseURL:
        description: "Optional (default qa.mavistesting.com) URL"
        required: true
        type: string
        default: 'qa.mavistesting.com'

jobs:
  nurse_journey_performance_test:
    runs-on: ubuntu-latest

    if: ${{ github.event_name == 'workflow_dispatch' }}

    env:
      jmeter_version: 5.6.3
      cmdrunner_version: 2.3
      jmeter_plugins_manager_version: 1.7.0
      jmeter_plugins: jpgc-udp,jpgc-graphs-basic,jpgc-dummy,bzm-random-csv,jpgc-sts
      # jmeter_home: ${{ github.workspace }}/jmeter-${{ env.jmeter_version }}

    steps:
      - uses: actions/checkout@v5

      - name: Echo workflow inputs
        run: |
          echo "AddNewSession:${{ inputs.AddNewSession }}" >> $GITHUB_STEP_SUMMARY
          echo "RunConsent:${{ inputs.runConsent }},runNurse:${{ inputs.runNurse }}" >> $GITHUB_STEP_SUMMARY
          echo "duration:${{ inputs.duration }},threads:${{ inputs.threads }},ramp_up:${{ inputs.ramp_up }}" >> $GITHUB_STEP_SUMMARY
          echo "user:${{ inputs.user }},BaseURL:${{ inputs.BaseURL }}" >> $GITHUB_STEP_SUMMARY
         
      - name: Cache jmeter
        id: cache-jmeter
        uses: actions/cache@v4
        env:
          cache-name: cache-jmeter
        with:
          path: jmeter
          key: jmeter

#Having run each step separately, it's only the curl request that takes time. So including the unzip and move means I can cache the 'jmeter' folder entirely
#STS also requires some files in the jmeter folder, but I don't want those cached so the 'touch' commands are being included in the plugins step
#Finally move some of the report generator options into the jmeter folder to simplify the jmeter command in each execution step

      - name: Install JMeter
        if: ${{ steps.cache-jmeter.outputs.cache-hit != 'true'}}
        run: |
          curl -sSO https://archive.apache.org/dist/jmeter/binaries/apache-jmeter-${{ env.jmeter_version }}.tgz
          tar xzf apache-jmeter-${{ env.jmeter_version }}.tgz
          mv apache-jmeter-${{ env.jmeter_version }} jmeter
          curl -sSO --output-dir jmeter/lib https://repo1.maven.org/maven2/kg/apc/cmdrunner/${{ env.cmdrunner_version }}/cmdrunner-${{ env.cmdrunner_version }}.jar
          curl -LsS --output jmeter/lib/ext/jmeter-plugins-manager-${{ env.jmeter_plugins_manager_version  }}.jar https://jmeter-plugins.org/get/
          java -cp jmeter/lib/ext/jmeter-plugins-manager-${{ env.jmeter_plugins_manager_version }}.jar org.jmeterplugins.repository.PluginManagerCMDInstaller
          chmod +x jmeter/bin/PluginsManagerCMD.sh
  
      - name: Install JMeter plugins
        if: env.jmeter_plugins != ''
        run: |
          if [ -x "$(command -v parallel)" ]; then
            echo "Using GNU parallel to install plugins"
            parallel -d, -j 5 -n 1 jmeter/bin/PluginsManagerCMD.sh install {} ::: ${{ env.jmeter_plugins }}
          else
            echo "GNU parallel not found, installing plugins sequentially"
            IFS=',' read -ra PLUGINS <<< "${{ env.jmeter_plugins }}"
            for plugin in "${PLUGINS[@]}"; do
              jmeter/bin/PluginsManagerCMD.sh install $plugin
            done
          fi
          curl -sSO --output-dir jmeter/lib https://repo1.maven.org/maven2/org/apache/tika/tika-app/1.28.5/tika-app-1.28.5.jar
          sed -i '/<Logger name="org.apache.jmeter.junit" level="debug" \/>/a \    <Logger name="org.apache.jmeter.protocol.http.sampler.HTTPSamplerBase" level="info" additivity="false"\/>' jmeter/bin/log4j2.xml
          sed -i '$ajmeterPlugin.sts.loadAndRunOnStartup=true \njmeterPlugin.sts.port=9191 \njmeterPlugin.sts.daemon=false \njsr223.init.file=jmeter/bin/simple-table-server.groovy' jmeter/bin/user.properties
          sed -i '$ajmeter.reportgenerator.report_title="MAVIS test report" \njmeter.reportgenerator.overall_granularity=10000 \njmeter.reportgenerator.sample_filter="^.*[^0-9]$"' jmeter/bin/user.properties
          touch jmeter/consents.txt
          touch jmeter/vaccinations.txt

      - name: Set timestamp
        id: timestamp
        run: echo "timestamp=$(date '+%Y%m%d%H%M%S')" >> $GITHUB_ENV

      - name: Run Consent Journey
        if: inputs.runConsent == true
        run: |
          mkdir -p consent-output
          consent_output_dir=consent-output
          jmeter/bin/jmeter -n -t performance-tests/STS/consent-journey.jmx \
              -l $consent_output_dir/samples.jtl \
              -j $consent_output_dir/jmeter.log \
              -e -o $consent_output_dir/consent-report \
              -Jjmeter.reportgenerator.report_title="MAVIS test report" \
              -Jjmeter.reportgenerator.overall_granularity=10000 \
              -Jjmeter.reportgenerator.sample_filter="^.*[^0-9]$" \
              -JAuthToken=${{secrets.HTTP_AUTH_TOKEN_FOR_TESTS}} \
              -JLoops=-1 \
              -JThreads=5 \
              -JRampUp=60 \
              -JDuration=${{inputs.duration}} \
              -JUser=${{inputs.user}} \
              -JBaseURL=${{inputs.BaseURL}} \
              -JURN=${{inputs.URN}} \
              -JAddNewSession=${{inputs.AddNewSession}}

      - name: Upload consent journey JMeter output
        if: inputs.runConsent == true
        uses: actions/upload-artifact@v5
        with:
          name: jmeter-consent-journey-output-${{ env.timestamp }}
          path: consent-output
          if-no-files-found: warn

      - name: Run nurse Journey
        if: inputs.runNurse == true
        run: |
          mkdir -p nurse-output
          nurse_output_dir=nurse-output
          jmeter/bin/jmeter -n -t performance-tests/STS/nurse-journey.jmx \
              -l $nurse_output_dir/samples.jtl \
              -j $nurse_output_dir/jmeter.log \
              -e -o $nurse_output_dir/report \
              -Jjmeter.reportgenerator.report_title="MAVIS test report" \
              -Jjmeter.reportgenerator.overall_granularity=10000 \
              -Jjmeter.reportgenerator.sample_filter="^.*[^0-9]$" \
              -JAuthToken=${{secrets.HTTP_AUTH_TOKEN_FOR_TESTS}} \
              -JLoops=-1 \
              -JThreads=${{inputs.threads}} \
              -JRampUp=${{inputs.ramp_up}} \
              -JDuration=${{inputs.duration}} \
              -JUser=${{inputs.user}} \
              -JBaseURL=${{inputs.BaseURL}} \
              -JURN=${{inputs.URN}}

      - name: Upload nurse journey JMeter output
        if: inputs.runNurse == true
        uses: actions/upload-artifact@v5
        with:
          name: jmeter-nurse-journey-output-${{ env.timestamp }}
          path: nurse-output
          if-no-files-found: warn

      - name: Publish report to GH Pages
        if: inputs.runNurse == true
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: nurse-output/report
          destination_dir: JMeter/report-${{ env.timestamp }}
          keep_files: true

      - name: Set Job Summary
        run: |
          echo "Test report URL is https://nhsdigital.github.io/manage-vaccinations-in-schools-testing/JMeter/report-${{ env.timestamp }}/" >> $GITHUB_STEP_SUMMARY
          
